{% extends 'base.html.twig' %}

{% block title %}
    Inscrivez-vous
{% endblock %}

{% block body %}
    <div class="card shadow-sm mt-5 mx-auto" style="max-width: 400px;">
        <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal bg-primary text-white p-2 rounded">
                Inscrivez-vous
            </h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_row(registrationForm.email, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Email',
                            'autocomplete': 'email'
                        }
                    }) }}
            </div>
            <div class="mb-3">
                {{ form_row(registrationForm.plainPassword, {
                        'label': 'Mot de passe',
                        'attr': {
                            'class': 'form-control',
                            'autocomplete': 'new-password'
                        }
                    }) }}
            </div>
            <div class="custom-form-check">
    {{ form_row(registrationForm.agreeTerms, {
        'label_attr': {
            'class': 'custom-label'
        },
        'attr': {
            'class': 'custom-form-control'
        }
    }) }}
    <label class="custom-label" for="{{ registrationForm.agreeTerms.vars.id }}">
        En cliquant sur "Inscrivez-vous", vous acceptez nos <a href="#" class="custom-link">Conditions d'utilisation</a> et <a href="#" class="custom-link">Politique de confidentialité</a>.
    </label>
</div>


            <button type="submit" class="btn btn-lg btn-primary btn-block">
                Inscrivez-vous
            </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

