{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h1 class="h3 mb-3">Catégorie</h1>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom de la catégorie</th>
                            <td>{{ category.categoryName }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_category_index') }}" class="btn btn-primary">Retour à la liste</a>
                    <br>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
                </div>
<br>
                {{ include('category/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

